body {
  overflow: hidden;
}

span.toast {
  position: absolute;
  top: 30px;
  right: 10px;
  border: 2px solid rgb(250, 0, 62);
  color: rgb(250, 0, 62);
  border-radius: 8px;
  font-weight: 700;
  width: 250px;
  height: 70px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px;
  animation-name: translateXOpen;
  animation-duration: 1.5s;
}

span.toast p {
  position: absolute;
  top: 5px;
  right: 5px;
}

form {
  height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

label {
  color: white;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding-bottom: 3px;
  align-self: flex-start;
  margin-left: 15px;
}

input {
  width: 90%;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.3s;
  color: rgb(27, 27, 27);
  font-weight: 600;
  font-size: 1rem;
}

input:focus {
  border: 2px solid rgb(255, 140, 217);
  transition: 0.3s;
}

input::placeholder {
  color: rgb(255, 140, 217);
}

button {
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid rgb(250, 0, 62);
  background-color: transparent;
  font-size: 1rem;
  color: rgb(250, 0, 62);
  transition: 0.3s;
}

button:hover {
  border: 2px solid rgb(250, 0, 62);
  background-color: rgb(250, 0, 62);
  color: white;
  transition: 0.3s;
}

a.voltar {
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid rgb(250, 0, 62);
  font-size: 1rem;
  font-weight: 600;
  color: rgb(250, 0, 62);
  transition: 0.3s;
  display: inline-block;
  background-color: rgb(27, 27, 27);
  position: absolute;
  top: -15px;
  right: -50px;
  text-align: center;
}

a.voltar::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: rgb(250, 0, 62);
  position: absolute;
  top: -8px;
  left: 80px;
  transition: 0.3s;
}

a.voltar::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: rgb(250, 0, 62);
  position: absolute;
  bottom: -8px;
  left: 80px;
  transition: 0.3s;
}

a.voltar:hover {
  background-color: rgb(250, 0, 62);
  color: rgb(27, 27, 27);
  cursor: pointer;
  transition: 0.3s;
}

a.voltar:hover::before,
a.voltar:hover::after {
  left: 0px;
  transition: 0.3s;
}

@keyframes translateXOpen {
  0% {
    background: transparent;
    transform: translateX(120%);
  }
  60% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateXLeave {
  from {
    transform: translateX(0);
  }
  to {
    background: transparent;
    transform: translateX(120%);
  }
}
